
.reveal {
  opacity: 0;
  animation: appear 0.5s forwards 1s; 
}

.hide {
  display: none;
}

@keyframes appear {
  0%   {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

a {
  text-decoration: none;
  color: black
}

.footer {
  border-top: 4px solid black;
}